@font-face {
     font-family: 'WorldH';
     src: url('../fonts/HelveticaWorld-Regular.ttf');
   }
@font-face {
        font-family: 'OSans';
        src: url('../fonts/OpenSans-Regular.ttf');
   }
*{
  margin:0;
  padding:0;

}
body{
  overflow-y: auto;
}
header.header_principal{
display: block;
float: left;
width: 70%;
height: 30px;
padding: 2% 3%;
top:0;
margin-left:11%;
background-color: #3692CC;
}
header a{
color:white;
text-decoration: none;
font-family: 'Adobe Arabic';
font-size: 30px;

}
.contenedor_logo,.contenedor_logo_vertientes{
  display: block;
  float:left;
}
.contenedor_logo{
  width: 25%;
  margin-left: 5%;
  margin-top: 1%;
  -border:1px solid orange;
}
.contenedor_logo_vertientes{
  position: absolute;
  top: 0;
  margin-left:25%;
  width: 20%;
  top:-2%;
  -border:1px solid green;
}
.contenedor_logo_vertientes img{
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.contenedor_menu{
box-sizing: border-box;
  clear:both;
  display: block;
  float:left;
  width: 70%;
  margin-left:13.5%;
  padding: 2% 3%;
  -border:1px solid blue;

}
.lista_menu{
  display: block;
  float:left;
  width: 50%;
  margin-left: 28.5%;
  text-align: center;
  -border: 1px solid red;
}
.item_menu{
  display: block;
  float:left;
  list-style: none;
  margin-left: 2%;

}
.item_menu >a{
  -webkit-transition: all .26s ease;
  -o-transition: all .26s ease;
  transition: all .26s ease;
}
.item_menu>a:hover{
  color:#3692CC;
}
.item_menu>a.activo{
  color:#3692CC;
}
.contenedor_menu a {
  text-decoration: none;
  color:black;
  font-family: 'WorldH';
  font-size:  16px;


}
footer{
  display: block;
  float: left;
  position:fixed;
  width: 70%;
  margin-left: 12.5%;
  bottom:0;
  padding: 1% 2%;
  background-color: #3692CC;
}
.contenido_footer{
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  -border:1px solid red;
  color:white;
  font-size: 13px;
  font-family: 'WorldH';
}
.contenido_menu{
  box-sizing: border-box;
  clear: both;
  display: block;
  float: left;
  width: 74%;
  padding: 0 3%;
  margin-left: 12.5%;
  margin-bottom: 50px;
  -border:1px solid green;
}
.linea_separadora{
  width:70%;
  margin-left:15%;
  margin-bottom:25px;
  border-top:1px solid #1E120D;
}


/* INICIO VERTIENTES*/
.contenedor_info_inicio{
  display:block;
  float:left;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  -border:1px solid red;
}
.contenedor_info_inicio >p{
  font-family: 'Arial';
  font-size:15px;
}
.titulo_vertientes{
  display:block;
  color:#3692CC;
  font-size: 22px;
  font-family: 'OSans';
  margin-bottom: 15px;
}

.contenedor_info_ventajas{
  display: block;
  float:left;
  width: 100%;
  text-align: center;
  -border:1px solid green;
}
.lista_ventajas{
  display: block;
  float:left;
  width: 100%;
  margin-bottom: 45px;
  line-height: 25px;
}
.lista_ventajas>li{
  list-style: none;
  font-family: 'Arial';
  font-size: 15px;
  line-height:25px;
}
.contenedor_video{
  display: block;
  float:left;
  width: 100%;
  text-align: center;
  -border:1px solid red;

}
.contenedor_galeria{
  display: block;
  float:left;
  width: 100%;
  padding-top:2%;
  -background-color:rgba(79, 79, 79, .7);
  -border:1px solid blue;
}
.contenedor_imagenes{
  display: block;
  float:left;
  width: 80%;
  margin-bottom: 30px;
  height: 400px;
  -background-image: url('../imgs/vertientes/principal_v.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -border:1px solid red;
}
.atras_galeria{
  display: block;
  float:left;
  width: 10%;
  height:400px;
  -border:1px solid green;
}
.siguiente_galeria{
  display: block;
  float: right;
  width: 10%;
  height:400px;
  -border:1px solid yellow;
}
.mini_galeria{
  box-sizing: border-box;
  clear:both;
  display: block;
  float:left;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  padding: 0% 5%;
  -border:1px solid pink;
}
.activo_miniatura{
  border:1px solid green;
}
.miniatura_galeria{
  display:block;
  float:left;
  width:13%;
  margin-left: 3%;
}
.miniatura_galeria:hover{
  cursor: pointer;
}
.flecha{
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.flecha:hover{
  -cursor:pointer;
  background-color: rgba(0, 0, 0, 0.27);
}
.flecha>img{
  cursor: pointer;
}
.flecha.atras_galeria>img{
  display: block;
  float:left;
  margin-left:30%;
  margin-top:170px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -border:1px solid red;
}
.flecha.siguiente_galeria>img{
  display: block;
  float:left;
  margin-left:30%;
  margin-top:170px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  transform: rotate(180deg);
  -border:1px solid red;
}
