 @font-face {
      font-family: 'WorldH';
      src: url('../fonts/HelveticaWorld-Regular.ttf');
    }
@font-face {
         font-family: 'OSans';
         src: url('../fonts/OpenSans-Regular.ttf');
    }

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: block;
    float:left;
    width: 100%;
    -border: 1px solid green;
    background-color: white;
}

header{
    display:block;
    float:left;
    -position: absolute;
    width:100%;
    height: 120px;
    padding-top: 7px;
    background-color:#3692CC;
}

a.salir{
  display: block;
  float:left;
  border:none;
  font-family:'WorldH';
  color:white;
  -padding: 0px 0px;
  margin-left: 15px;
  margin-top: 4px;
  background-color: transparent;
  -webkit-transition: all .26s ease;
  -o-transition: all .26s ease;
  transition: all .26s ease;
}
a.salir:hover{
color:white !important;
text-decoration: none !important;
}

.txt_titulo{
  display: block;
  float: left;
  position: absolute;
  color:white;
  font-family: 'WorldH';
  font-size: 35px;
  margin-top:280px;
  margin-left: 170px;
}


.txt_logo_gigena{
  display: block;
  float: left;
  width:30%;
  font-size: 62px;
  font-family: 'Adobe Arabic';
  color:white;
  -margin-left: 170px;
  margin-top: 35px;
  -border-bottom: 2px solid white;
  -border: 1px solid red;
}
.tipo_logo{
  display: block;
  float:left;
  width: 40%;
  -border:1px solid pink;
}
.tipo_logo img{
  display:block;
    float:left;
    height:48.5%;
    margin-top:40px;
    margin-right:10px;
    margin-left: 100px;
    -border:1px solid yellow;
}
.tipo_logo a:hover{
  text-decoration: none;

}
.conte_menu{
    display:block;
    float:right;
    width:50%;
    padding-top:5px;
    -height: 150px;
    margin-right: 50px;
    margin-top: 62px;
    -border:1px solid yellow;
}
.menu>li{
    display: inline-block;
    width: 100px;
    -margin-left:5px;
    color:#ccc;
    line-height: 22px;
    text-align: center;
    -border:1px solid red;
}
.menu>li:last-child{
  margin-left: 5px;
}
.inicio{
  padding-left: 30px;
}
.menu>li>a{
    text-decoration: none;
    color:white;
    font-size: 21px;
    font-family: "WorldH";
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

}
.menu>li>a:hover{
    -color:white;
    font-size: 24px;
    -border-bottom: 1px solid white;
}
.contenido_quienes_somos{
  display: block;
  float: left;
  width: 55%;
  margin-left:2.5%;
  margin-top: 15px;
  -border:1px solid blue;
}
.conte_lugares{
  display: block;
  float: left;
  width: 25%;
  margin-left: 50px;
  margin-top: 5px;
  text-align: right;
  -border:1px solid orange;
}
.conte_lugares>li{
  list-style: none;


  -padding: 5px 20px;
  -border:1px solid red;
}
.conte_lugares>li>a{

  color:black;
  font-family: 'Myriad Pro';
  font-size:25px;


  -margin-left: 10px;
}
.conte_lugares>li>a:hover{
  text-decoration: none;
}
.fa-university{
  color:#FF9933;
}
.fa-heart{
  color:#33CC66;
}
.fa-ambulance{
  color:#3399CC;
}

.contenedor_slideshow{
  display: block;
  float: left;
  width: 100%;
  height: 340px;
  -border:1px solid black;
  text-align: center;

}
.mascara_oculta{
  display: block;
  float: left;
  position: absolute;
  width: 100%;
  height: 340px;
  opacity: .6;
  background-color: #494949;
}
.img_slideshow{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
span.txt_slogan{
  position:absolute;
  display: block;
  float: left;
  color:white;
  font-size: 38px;
  font-family: 'OSans';
  -margin-left:36%;
  -margin-top:115px;
}
.btn_contactar{
  position: absolute;
  display: block;
  float:left;
  border:none;
  border-top: 0;
  color:white;
  font-family: 'WorldH';
  font-size: 17px;
  background-color:#3FA9F5;
  margin-left: 10%;
  margin-top:10%;
  text-align: center;
  padding : 6px 20px;
  transition: all .23s ease;
}
.btn_contactar:hover{
  background-color: #006dbd;
}

.conte_logo{
    display: block;
    float:left;
    width:100%;
    height:150px;
    -border:1px solid blue;
}
.conte_img{
    -background-color:#000;
    width:100%;
    text-align: center;
    border:1px solid red;
}
.conte_login{
    display:block;
    float:right;
    width:15%;
    -border:1px solid blue
}
a{
    text-decoration: none;
    -color:white !important;
}
header>span>a{
  color:white;
  transition: all .3s ease;
}
header>span>a:hover{
color:white;
text-decoration: none;
}
.reg{
    display: block;
    float:right;
    margin-right: 15px;
    margin-top : -3px;
    padding: 5px 15px;
    border: 1px solid #aaa;
      border-radius: 10px;
    background-color: transparent;
    color:#aaa;
    font-family: 'Roboto';
    font-size: 12px;
    webkit-transition: all .3s ease;
    moz-transition: all .3s ease;
    transition: all .3s ease;
}
.reg:hover{
    border:1px solid #aaa;

    color:#FF7700;
    text-decoration: none;
}


/*parte del login*/
.box-login{
    display:block;
    float:left;
    width:20%;
    border:1px solid #000;
    margin-left:40%;
    margin-top:2%;
    padding:10px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.67);
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.67);
    }
.campo{
    display:block;
    float:left;
    width:100%;
    padding:5px 0px;
    margin:5px 0px;
    padding-left:5px;
 }
.forgot{
    text-decoration: none ;
    color:black ;
    display: block;
    float:left;
    width:100%;
    text-align: center;
    -webkit-transition: all .24s ease;
    -moz-transition: all .24s ease;
    transition: all .24s ease;
}
.forgot:hover{
    color:#0026FD;
}
.enviar{
    clear:both;
    display: block;
    float:left;
    width:100%;
    margin: 5px 0;
    padding: 5px 0;
    background-color: transparent;
    font-family: 'Roboto';
    border: 1px solid #aaa;
    -webkit-transition: all .24s ease;
    -moz-transition: all .24s ease;
    transition: all .24s ease;
}
.enviar:hover{
    background-color:#444444;
    color:white;
   cursor: pointer;
}
/* PARTE DEL LOGO PRE_CONTENT LOGO_TAG*/
.contenedor_logo{
  display:block;
  float:left;
  width: 100%;
  -border: 1px solid red;
  margin-bottom: 10px;
  margin-top: 0px;

}
.linea_sepadora{
  display: block;
  float:left;
  width: 100%;
  -border-top: 3px solid #26A69A;
  border-top: 3px solid white;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* PARTE QUIENES SOMOS */
.contenedor_quienes_somos{
  display: block;
  float: left;
  width: 100%;

  padding: 15px 150px;
  -background-color: rgba(155, 177, 191, 0.3);
  -text-align: center;
  -border:1px solid red;
  -margin-bottom: 15px;
}
.quienes_somos{
  display: block;
  font-family: 'OSans';
  -border:1px solid blue;
  font-size: 35px;
  font-weight: bold;
  margin-top:15px;
  margin-bottom: 7px;
}
.contenedor_noticias span{
  display: block;
  font-family: 'OSans';
  font-size: 35px;
  font-weight: bold;

}

.contenido_quienes_somos>p{
 text-align: justify;
 font-family: 'Arial';
 font-size: 15px;
 font-weight: 500;

}
.contenedor_trastornos{
  display: block;
  float: left;
  width: 100%;
  margin-top: 30px;
  -border:1px solid blue;
}
.titulo_trastornos,.titulo_trastornos.equipo{
  font-family:'OSans';
  font-size:30px;
  font-weight:bold;
  color:#3692CC;
}
.titulo_trastornos.equipo{
  margin-left:2.5%;
}
.contenedor_trastornos>p{

  font-family: 'Arial';
  font-size: 15px;
  margin-top: 20px;
  -border:1px solid red;
}
.contenedor_ofrecemos{
  display: block;
  float: left;
  width: 100%;
  background-color: rgba(155,177,191, 0.3);
  margin-top: 25px;
  padding : 15px 170px;
  -border:1px solid red;
}
.titulo_ofrecemos{
  display: block;
  font-family: 'OSans';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  -border:1px solid green;
}
.lista_ofrecemos>li{
  list-style: none;
  margin-bottom: 10px;
  font-family: 'Arial';
  font-size: 15px;

  -border:1px solid red;
}
.acomodar_texto{
  margin-left:25px;
  -border:1px solid blue;
}
.item_lista_custom{
  display: block;
  float: left;
  position:relative;
  color:red;
  font-size: 70px;
  margin-top:0;
  border:1px solid green;
}


/* PARTE NOTICIAS*/
.contenedor_noticias{
  display: block;
  float: left;
  width: 100%;
  padding: 20px 170px;
  -border:1px solid blue;
}
footer{
  display: block;
  float: left;
  width: 100%;
  background-color: #3692CC;
}
.tipo_logo_footer a{
  display: block;
  float: left;
  width:20%;
  font-size: 42px;
  font-family: 'Adobe Arabic';
  color:white !important;
  margin-left: 170px;
  margin-top: 10px;
  -border-bottom: 2px solid white;
  -border: 1px solid red;
}
.tipo_logo_footer a:hover{
  text-decoration: none;
}
.conte_menu_footer{
    display:block;
    float:left;
    width:35%;
    padding-top:5px;
    padding-left: 7%;
    -margin-right: 50px;
    margin-top: 20px;
    -border:1px solid yellow;
}

.menu_footer>li{
    display: inline-block;
    width: 70px;
    margin-left:0px;
    color:#ccc;
    line-height: 17px;
    text-align: center;
   -border:1px solid red;
}
.menu_footer>li>a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-family: "WorldH";
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

}
.menu_footer>li>a:hover{
    font-size: 17px;
}
.info_footer{
  display: block;
  float: left;
  width: 30%;
  height:100%;
  margin-top: 15px;
  text-align: center;
  -border:1px solid yellow;
}
.info_footer>span,.info_footer>a{
  color:white;
}
.contenedor_mascara{
  display: none;
  float:left;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1000;

}
.contenedor_login{
  display: block;
  float:left;
  width: 25%;
  margin-left:37.5%;
  margin-top:40px;
  background-color: white;
  height: 260px;
  border:none;
  padding: 25px 30px;
}
.contenedor_login> span{
  display:block;
   float:left;
   color:#3692CC;
   font-size: 25px;
   font-family: 'WorldH';
}
.contenedor_login >button {
  display:block;
  float:right;
  background-color: transparent;
  font-size: 20px;
  color:black;
  border:none;
  margin-top:8px;
  font-family: 'Consolas';
  transition: all .25s ease;
}
.contenedor_login >button:hover{
  color: rgb(173, 28, 28);
}
#login_gigena{
  display:block;
  float:left;
  width: 100%;
  margin-top:20px;
  -border:1px solid red;
}
#login_gigena label{
  display: block;
  float:left;
  width: 100%;
}
.campo_login_modal{
  display: block;
  float:left;
  width: 100%;
  border:none;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: bold;
  background-color: #CCCCCC;
}
#btn_login_modal{
  display: block;
  float:left;
  width: 30%;
  border:none;
  font-size: 16px;
  background-color: #3692CC;
  font-family: 'WorldH';
  color:white;
  margin-top:15px;
  padding: 5px 10px;
}
.info_login{
  display: block;
  float: left;
  width: 70%;
  height: 30px;
  margin-top:23px;
  padding-left:15px;
  font-weight:bold;
  color:rgb(209, 16, 16);
  -border:1px solid yellow;
}
.contenedor_preview{
  display: block;
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'OSans';
  font-size: 24px;
  -border:1px solid green;
}
.titulo_preview{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-size:25px;
  color:#3692CC;
  -border:1px solid red;
}
.contenido_preview{
  display: block;
  float:left;
  width: 100%;
  font-family: 'Myriad Pro';
  font-size: 15px;
  -border:1px solid yellow;
}
.contenedor_preview_feed{
  clear:both;
  display: block;
  float: left;
  width: 75%;
  margin-left: 12.5%;
  padding: 10px 0px;
  font-family: 'OSans';
  font-size: 24px;
  font-weight: bold;
  -border-bottom: 1px solid rgb(152, 150, 150);
  -border:1px solid green;
}
.titulo_preview_feed{
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  -border:1px solid red;
}
.contenido_preview_feed{
  display: block;
  float:left;
  -width: 100%;
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: normal;
  -border:1px solid yellow;
}
.leer_mas{
  clear:both;
  display: block;
  float: left;
  -margin-left: 25px;
  font-size: 13px;
  -border:1px solid blue;
}
.contenedor_ver_mas{
  clear:both;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-family: 'Myriad Pro';
  padding: 20px;
  font-size: 16px;
  -border:1px solid green;

}
.contenedor_ver_mas a:hover{
  text-decoration: none;
  cursor:pointer;
}
.contenedor_articulos{
  display: block;
  float: left;
  width: 100%;
  margin-top:25px;
  margin-bottom: 50px;
  -border:1px solid red;
}
.contenedor_feed_noticias{
  display: block;
  float:left;
  width: 100%;
  -border:1px solid red;
}
.contenedor_preview_feed_inicio{
display: block;
float:left;
width: 30%;
height:300px;
margin-left:2.5%;
margin-top:20px;
text-align: left;
-border:1px solid green;
}
.contenedor_preview_feed_inicio .titulo_preview_feed_inicio{
  display: block;
  float:left;
  width: 100%;
  font-size: 24px;
}
.contenedor_preview_feed_inicio .leer_mas{
  font-size: 15px;
}
.contenido_preview_feed_inicio{
  display: block;
  float:left;
  width: 100%;
  -border:1px solid red;
}
.contenido_preview_feed_inicio *{
margin-bottom: 10px;
-border:1px solid blue;
}
.contenido_preview_feed_inicio span{
display: block;
float:left;
background-color: transparent !important;
font-family: 'Arial' !important;
font-size: 15px !important ;
font-weight: 400 !important;
}
.contenedor_preview_feed_especial,.titulo_preview_feed_especial,.contenido_preview_feed_especial{
  display:block;
  float:left;

}
.contenedor_preview_feed_especial{
  width:90%;
  margin-bottom: 15px;
  -border: 1px solid green;
}
span.titulo_preview_feed_especial{
font-size:20px;
}
.contenido_preview_feed_especial{
clear:both;
line-height: 190%;

}
a.leer_mas{
  clear:both;
  margin-top:-1%;
}
.contenedor_galeria{
  display: block;
  float: left;
  width: 100%;
  background-color: rgba(224, 224, 224, 0.8);
  height: 300px;
  margin-top:20px;
  padding: 2% 15%;
  border-radius: 20px;
 -border:1px solid green;
}
.img_galeria_articulo{
  display: block;
  float: left;
  width:15%;
  height: 97px;
  background-size: cover;
  background-position: center;
  margin-left:5%;
  margin-top: 2%;
-border:1px solid red;
transition:all .25s ease;
}
.contenedor_zoom_imagen{
  display:block;
  float:left;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.90);
  position:absolute;
  -margin-top: 13%;
  -border:1px solid red;
}
.btn_anterior_zoom{
  display: block;
  float: left;
  width: 10%;
  -border:1px solid green;
  height: 100%;
}
.btn_siguiente_zoom{
  display: block;
  float: right;
  width: 10%;
  -border:1px solid green;
  height: 100%;
}
.btn_anterior_zoom,.btn_siguiente_zoom{
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.btn_siguiente_zoom:hover,.btn_anterior_zoom:hover{
  background-color: rgb(164, 164, 164);
  cursor:pointer;
}
.contenedor_imagen{
  display: block;
  float: left;
  margin-left: 10%;
  width: 80%;
  height: 100%;
  -border:1px solid orange;
}
.imagen_zoom{
  display: none;
  float:left;
  width: 100%;
  height: 100%;
  -border: 1px solid blue;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.btn_cerrar_zoom{
  display: block;
  float:right;
 width: 5%;
 padding: 5px 0px;
 text-align: center;

  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.btn_cerrar_zoom:hover{
background-color: #3692CC;
cursor:pointer;
}
.img_galeria_articulo:hover{
  cursor:pointer;
}
.titulo_contacto{
  display: block;
  float: left;
  width: 60%;
  margin-left: 20%;
  margin-top:15px;
  font-size: 25px;
  color:#3692CC;
  font-family: 'WorldH';
}
.contenedor_contacto{
  display: block;
  float:left;
  width: 60%;
  margin-left:20%;
  margin-top: 15px;
  margin-bottom:50px;
  -border:1px solid green;
}
#enviar_mensaje{
display: block;
float:left;
width: 35%;
-border:1px solid red;
}
#enviar_mensaje label{
  display: block;
  float:left;
  width: 100%;
}
.campo_contacto{
  display: block;
  float:left;
  width: 100%;
  border:none;
  padding:2px;
  border-radius: 5px;
  background-color: #CCCCCC;
}
input[name="enviar_consulta"]{
  clear: both;
  display: block;
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
  border:none;
  background-color: #3692CC;
  padding:5px;
  color:white;
  font-family: 'WorldH';
  transition: all .25s ease;
}
input[name="enviar_consulta"]:hover{
  background-color: #2e80b4;
}
.contenedor_info_contacto{
  display: block;
  float: right;
  width: 55%;
  -border:1px solid yellow;
}
.contenedor_informacion{
  display: block;
  float: left;
  width: 100%;
  line-height: 17px;
  -border:1px solid red;
}
.contenedor_informacion >span,.contenedor_informacion >a{
  clear:both;
  display: block;
  float: right;
}
.fa-map-marker,.fa-mobile{
  color:#3692CC;
  font-size: 20px !important;
  margin-left:10px;
  margin-right: 2px;
}
.fa-envelope{
  font-size: 16px;
  color:#3692CC;
  margin-left:10px;
}
.mapa_contacto{
  clear: both;
  display: block;
  float: left;
  width: 100%;
  margin-top:10px;
  max-height: 300px;
  -border:1px solid orange;
}
/*PARTE EQUIPO EQUIPO*/
.contenedor_equipo{
  display: block;
  float: left;
  width: 100%;
  padding: 0 0;
  margin-top: 25px;
  -border:1px solid green;
}
.contenido_equipo{
  display: block;
  float: left;
  width: 100%;
  -border:1px solid yellow;
}
.integrante{
  display: block;
  float:left;
  width: 20%;
  height: 150px;
  margin-top: 15px;
  -border:1px solid red;
}
.imagen_perfil_integrante{
 width: 120px;
 height: 120px;
 background-size: cover;
 background-position: center;
 display: block;
 margin-left:25%;
 border-radius: 60px;
 -border:1px solid red;
}
.imagen_perfil_integrante:hover{
cursor:pointer;

}
.integrante span{
  display: block;
  float: left;
  width: 100%;
  text-align:center;
  font-family: 'OSans';
  font-size: 14px;
  font-weight: bold;
}

/* MODAL INTEGRANTE INTEGRANTE_MODAL MODAL_INTEGRANTE*/
.modal_integrante_contenedor{
  display:none;
  float: left;
  position: absolute;
  width: 60%;
  background-color: rgba(85, 181, 212, 1);
  color:white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;


}
.modal_integrante_contenedor span{
  clear:both;
  display: block;
  float: left;
 padding : 5px;
 padding-left: 15px;

}
.modal_integrante_contenedor p{
  clear:both;
  display: block;
  float: left;
  padding: 5px 15px;
}
.btn_modal_cerrar_integrante{
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  background-color: rgb(228, 70, 70);
  transition: all .25s ease;
  -border-top-right-radius: 10px;
}
.btn_modal_cerrar_integrante:hover{
  cursor:pointer;
  background-color: rgb(231, 23, 23);
}
/* @media  (min-width:768px) and (max-width:1400px) {
  .txt_logo_gigena {
    font-size:45px;
    margin-left: 30px;
    margin-top:40px;

  }
  .tipo_logo img {
    margin-left: 140px;
    margin-right: -20px;
    margin-top: 40px;
    height: 60px;
  }

*/



}
@media (max-width:500px){
*{
  margin:0;
  padding:0;
}
header{
  margin:0;
  padding:0;
  padding: 3%;
}
.tipo_logo img{
  display: block;
  float:left;
  width:30%;
  margin:0;
  padding:0;

}
.txt_logo_gigena{
  display: block;
  float:left;
  margin:0;
  padding:0;
  font-family: 'Adobe Arabic';
  font-size: 24px !important;
  margin-left:5%;
}
.conte_menu{
  display: block;
  float:left;
  position:absolute;
  width:80%;
  margin:0;
  padding:0;
  margin-top:10%;
  margin-left:10%;
  -border:1px solid red;
}
ul.menu{
  display: block;
  float:left;
  margin:0;
  padding:0;
  width: 100%;
  -border:1px solid orange;
}
ul.menu>li{
    display: inline-block;
    width: 100px;
    -margin-left:5px;
    color:#ccc;
    line-height: 22px;
    text-align: center;
    -border:1px solid green;
}
ul.menu >li a{
  margin:0;
  padding:0;
  font-size:16px;
}
.contenedor_usuario {
  display: block;
  float: right;
  margin-top:-12.5%;
  margin-right: 0;
  -position: absolute;

  -border:1px solid red;
}
.contenedor_usuario p{
  display: block;
  float: left;
  color:white;
  font-size: 20px;
  font-family: 'Arial';
  margin-left: 15px;
  margin-top:-3px;
}



.contenedor_noticias{
  display: block;
  float:left;
  padding:0;
  margin:0;
  text-align: center;
  width: 100%;
  -border:1px solid red;
}
span.quienes_somos{
  display: block;
  float:left;
  width: 100%;
  -border:1px solid green;
}
.contenedor_preview_feed_especial{
  display: block;
  float:left;
  width: 100%;

}
span.titulo_preview_feed_especial{
  display: block;
  float: left;
  width: 100%;
  padding : 1% 0%;
  -border:1px solid orange;
}
.contenido_preview_feed_especial{
  display: block;
  float: left;
  width: 100%;

}
a.leer_mas{
  display: block;
  float:right;
  width: 50%;
  margin-right:25%;
  padding: 1% 0;
  color:white;
  background-color: #3692CC;
  -border-radius: 10px;
}
}
